@model IEnumerable<StudentenMaaltijd.Entity.Entity.Meal>
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Students</title>
</head>
<body>
    @if (Model.Count().Equals(0))
    {
        <h1>Geen maaltijden gevonden voor de komende 2 weken!</h1>
        <a class="btn-link" asp-controller="Meal" asp-action="Create">
            <button class="col-lg-12 btn btn-primary">Voeg een maaltijd toe</button>
        </a>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    MaaltijdId
                </th>
                <th>
                    Maaltijd
                </th>
                <th>
                    Datum
                </th>
                <th>
                    Beschrijving
                </th>
                <th>
                    Maximaal aantal gasten
                </th>
                <th>
                    Prijs
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MealId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MealName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreperationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxAllowedGuests)
                    </td>
                    <td>
                        € @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
</body>
</html>